//Fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-family-primary: 'Raleway', sans-serif;
$font-family-secondary: serif;

//Colors
$color-primary: #1E213A;
$color-secondary: #100E1D;
$color-tertiary: #585676;
$color-quarternary: #110E3C;
$color-text-light: #E7E7EB;
$color-text-dark: #A09FB1;
$color-blue: #3C47E9;
$color-yellow: #FFEC65;
$color-gray: #6E707A;
$color-gray-dark: #616475;
$light: #FFFFFF;
$dark: #000000;